<!DOCTYPE html>
<html>
<head>
	<title>Search Angular JS</title>
	<link rel="stylesheet" type="text/css" href="search.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="searchCtrl">
	<h3>Search Data Menggunakan Angular JS</h3>
	<input type="text" ng-model="cari" placeholder="Cari Data">
	<table border="1" width="100%">
		<tr>
			<th>No</th>
			<th ng-click="orderByMe('nama')">Nama</th>
			<th ng-click="orderByMe('asal')">Asal</th>
		</tr>
		<tr ng-repeat="x in siswa | filter:cari | orderBy:myOrderBy">
			<td>{{$index + 1}}</td>
			<td>{{x.nama}}</td>
			<td>{{x.asal}}</td>
		</tr>
	</table>
	<script>
		var app = angular.module('myApp',[]);
		app.controller('searchCtrl', function($scope) {
			$scope.siswa = [
				{nama:'Aldi',asal:'Medan'},
				{nama:'Yulio',asal:'Bandung'},
				{nama:'Nabila',asal:'Jakarta'},
				{nama:'Abdi',asal:'Makassar'},
				{nama:'Fikri',asal:'Banten'},
				{nama:'Hanna',asal:'Indramayu'},
				{nama:'Nadia',asal:'Yogyakarta'},
				{nama:'Budi',asal:'Lampung'},
				{nama:'Asep',asal:'Bandung'}
			];
			$scope.orderByMe = function(x) {
				$scope.myOrderBy = x;
			}
		});
	</script>
</body>
</html>