input {
	width: 98%;
	padding: 1%;
	margin-bottom: 3%;
}
th {
	cursor: pointer;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}